{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<style>
	h1{
			color: blue ;
			background-color: white;
			padding:10;
			font-style: initial;
			text-align: center;
		}
    h2{
    	color: red;
    	font-style: italic;
    }


    

    body{
		   background-color:#79ECF5;
		}
    p
    {
		font-style:inherit;
		color: black;
		background-color: white;
    }
		
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <!-- <a class="navbar-brand" href="#">Logo</a>

   -->
   <a class="navbar-brand" href="#">Crud Operations</a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}">About</a>
    </li>
      <!-- <a class="nav-link" href="#">Regiter</a> -->
      <a class="nav-link" href="{% url 'addstudent' %}">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'details' %}">Details</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li> -->
  </ul>
</nav>
	<h1>VIJAYA INSTITUTE OF TECHNOLOGY FOR WOMEN</h1>
	<h2>DEPATMENTS</h2>
	<h3>CSE</h3>
	<h3>IT</h3>
	<h3>ECE</h3>
	<p>CSE : Specialization Course - AI & ML
Artificial Intelligence and Machine Learning is a hot topic in the tech industry. Artificial Intelligence is the science and engineering of making intelligent machines, especially intelligent computer programs. Artificial Intelligence is related to the similar task of using computers to understand human intelligence, but AI does not have to confine itself to methods that are biologically observable.”. Machine Learning (ML) is a subset of Artificial Intelligence. ML is a science of designing and applying algorithms that are able to learn things from past cases. If some behaviour exists in past, then you may predict if or it can happen again. Means if there are no past cases then there is no prediction..</p>

</body>
</html>