{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Add Student</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <!-- <a class="navbar-brand" href="#">Logo</a>

   -->
   <a class="navbar-brand" href="#">Crud Operations</a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}">About</a>
    </li>
      <!-- <a class="nav-link" href="#">Regiter</a> -->
      <a class="nav-link" href="{% url 'addstudent' %}">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'details' %}">Details</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li> -->
  </ul>
</nav>
<div class="container card col-md-6 mt-3 shadow-lg border-success">
<h1 class="text-center"> Register </h1>
<form method="POST">
  {% csrf_token %}
  <input type="text" name ="fname" placeholder="Enter your first name" class="form-control mt-3">
  <input type="text" name ="lname" placeholder="Enter your last name" class="form-control mt-3">
  <input type="text" name ="name" placeholder="Enter your name" class="form-control mt-3">
  <input type="text" name ="rnum" placeholder="Enter your roll number" class="form-control mt-3">
  <input type="Email" name ="email" placeholder="Enter your email" class="form-control mt-3">
  <input type="number" name ="mobile" placeholder="Enter your mobile number" class="form-control mt-3">
  <div class="form-group mt-3"> 
    <lable class="radio-inline">
      <input type="radio" name="gender" value="Female" >Female
    </lable>
    <lable class="radio-inline">
      <input type="radio" name="gender" value="Male" >Male
    </lable>
    <lable class="radio-inline">
      <input type="radio" name="gender" value="Others" >Others
    </lable>
  </div>
  <input type="number" name ="age" placeholder="Enter your age" class="form-control mt-3">
  <input type="submit" name ="submit"value ="Register" class="btn-outline-success mt-3 form-control">

</form>
</div>
</body>
</html>