{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Delete</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
	  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <!-- <a class="navbar-brand" href="#">Logo</a>

   -->
   <a class="navbar-brand" href="#">Crud Operations</a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <!-- <a class="nav-link" href="#">Regiter</a> -->
      <a class="nav-link" href="{% url 'addstudent' %}">Regiter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'delete' %}">Details</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li> -->
  </ul>
</nav>
<div class="container card col-md-6 mt-5">
	<h2>Delete</h2>
	<p class="alert alert-info">Are u sure to delete {{obj.name}} record</p>
    <form method="POST">
  		{% csrf_token %}
        <div class="text-center">
        	<input type="submit" name="submit" value="Delete"class="btn btn-outline-danger btn-md">
        	<a class="btn btn-outline-info btn-md"href="{% url 'details' %}">Cancel</a>


</body>
</html>