{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Update</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <!-- <a class="navbar-brand" href="#">Logo</a>

   -->
   <a class="navbar-brand" href="#">Crud Operations</a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <!-- <a class="nav-link" href="#">Regiter</a> -->
      <a class="nav-link" href="{% url 'addstudent' %}">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'details' %}">Details</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li> -->
  </ul>
</nav>
    <div class="container card col-md-6 shadow-lg border-success">
		<h2 class="text-center">Update</h2>
  		<form method="POST">
  		{% csrf_token %}
  		<input type="text" name ="fname" placeholder="Enter your first name" class="form-control mt-3" value="{{data.fname}}">
  		<input type="text" name ="lname" placeholder="Enter your last name" class="form-control mt-3" value="{{data.lname}}">
  		<input type="text" name ="name" placeholder="Enter your name" class="form-control mt-3" value="{{data.name}}">
  		<input type="text" name ="rnum" placeholder="Enter your roll number" class="form-control mt-3" value="{{data.rnum}}">
  		<input type="Email" name ="email" placeholder="Enter your email" class="form-control mt-3" value="{{data.email}}">
  		<input type="number" name ="mobile" placeholder="Enter your mobile number" class="form-control mt-3" value="{{data.mobile}}">
  		<div class="form-group mt-3"> 
    <label class="radio-inline">
     <input type="radio" name="gender" value="Female"{% if data.gender == 'Female' %} checked {% endif %}> Female
    </label>
    <lable class="radio-inline">
     <input type="radio" name="gender" value="Male" {% if data.gender == 'Male' %} checked {% endif %}> Male
    </lable>
    <lable class="radio-inline">
      <input type="radio" name="gender" value="Others" {% if data.gender == 'Others'%} checked {% endif %}> Others
    </lable>
  </div>
  <input type="number" name ="age" placeholder="Enter your age" class="form-control mt-3" value="{{data.age}}">
<!--   <input type="submit" name ="submit"value ="Register" class="btn-outline-success mt-3 form-control"> -->
  <div class="card-footer text-center">
  	<button class= "btn-success" >Update</button>
  	<button class= "btn-success" href = "{% url 'details' %}">Cancel</button>
</div>

</form>
</div>
</body>
</html>