<!DOCTYPE html>
<html>
<head>
	<title>sample html</title>
</head>
<body bgcolor="#00ffff">
	<center>
		<h1>Ji Chang-wook </h1>
	</center>
	<p>
		Ji Chang-wook (born 5 July 1987) is a South Korean actor and singer.[2] He rose to fame for playing the lead role of Dong-hae in daily drama series Smile Again (2010–2011), and had notable lead roles in television series such as Warrior Baek Dong-soo (2011), Empress Ki (2013–2014), Healer (2014–2015), The K2 (2016), Suspicious Partner (2017), Melting Me Softly (2019), Backstreet Rookie (2020), and Lovestruck in the City (2020).

    </p>
    <h3 style="background-color: #F079F5; font-size: 20px; margin-left:20px;margin-right:20px;margin-top: 5px;font-style: italic;padding:5px;text-align:center;border-right:dashed;border-left:dashed;"> korean drama</h3>"
</body>
</html>